* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f4f4;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}

h2, h3, h4 {
  margin: 10px 0;
}

.balance {
  text-align: center;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  background: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
}

.money {
  font-size: 18px;
}

.plus {
  color: green;
}

.minus {
  color: red;
}

.transactions {
  list-style: none;
  padding: 0;
  margin: 0;
}

.transactions li {
  background: #f9f9f9;
  border-right: 5px solid;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}

.transactions li.plus {
  border-color: green;
}

.transactions li.minus {
  border-color: red;
}

.transactions li button {
  background: none;
  border: none;
  color: red;
  font-size: 20px;
  cursor: pointer;
}

form input, form button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

form button {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}
